body{
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.grid li div.header {
    position: relative;
    z-index: 1000;
    height: 30px;
    margin-left: 10px;
    cursor: move;
    background-image: url("../images/tittle_bg_40.png");
}
.resize-handle {
    width: 20px;
    height: 20px;
    bottom: 0px;
    right: -10px;
    position: absolute;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 100;
    opacity: 0;
}

.grid li:hover .resize-handle {
    opacity: 1;
}
.grid-container {
  position: absolute;
  top: 110px;
  left: 30px;
  right: 10px;
  bottom: 0px;
  padding-bottom: 30px;
}
.grid {
  position: relative;
  height: 100%;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s;
}
.grid li.resizeDrag{
     -webkit-transition:
     width 0s,
     height 0s;
     -moz-transition:
     width 0s,
     height 0s;
     -ms-transition:
     width 0s,
     height 0s;
     -o-transition:
     width 0s,
     height 0s;
     transition:
     width 0s,
     height 0s;
 }
  .grid li {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    line-height: 4em;
    text-align: center;
    cursor: pointer;
    -webkit-transition: top 0.3s,
                        left 0.3s,
                        width 0.3s,
                        height 0.3s,
                        font-size 0.3s,
                        line-height 0.3s;
      /*-moz-transition: top 0.3s,*/
      /*left 0.3s,*/
          /*width 0.3s,*/
          /*height 0.3s,*/
      /*font-size 0.3s,*/
      /*line-height 0.3s;*/
      /*-ms-transition: top 0.3s,*/
      /*left 0.3s,*/
          /*width 0.3s,*/
          /*height 0.3s,*/
      /*font-size 0.3s,*/
      /*line-height 0.3s;*/
      /*-o-transition: top 0.3s,*/
      /*left 0.3s,*/
          /*width 0.3s,*/
          /*height 0.3s,*/
      /*font-size 0.3s,*/
      /*line-height 0.3s;*/
      /*transition: top 0.3s,*/
      /*left 0.3s,*/
          /*width 0.3s,*/
          /*height 0.3s,*/
      /*font-size 0.3s,*/
      /*line-height 0.3s;*/
  }
  .grid li .inner {
    position: absolute;
    background: #fff;
    /*border: 1px solid #bbb;*/
    top: 0;
    bottom: 10px;
    left: 10px;
    right: 0;
    -webkit-transition: background 3s;
  }

  .grid li.changed .inner {
    background: #ffff66;
    -webkit-transition: none;
  }
  .grid li.ui-draggable-dragging {
    -webkit-transition: none;
  }
  .grid li.position-highlight {
    /*-webkit-transition: none;*/
      -webkit-transition: top 0.3s,
      left 0.3s,
      width 0.3s,
      height 0.3s,
      font-size 0.3s,
      line-height 0.3s;
  }
    .grid li.position-highlight .inner {
      border: none;
      background: #001842;
        border: dotted 1px #FFF;

      opacity: 0.8;
    }
  .grid .controls {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 0.4em;
    font-weight: normal;
    line-height: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
  }
    .grid .controls .resize {
      float: left;
      margin: 5px 5px 0 0;
      padding: 0.3em;
      background: #fafafa;
      color: #444;
      text-decoration: none;
    }
    .grid .controls .resize:hover {
      background: #f1f1f1;
    }
  .grid li:hover .controls {
    opacity: 1;
  }

.header {
  height: 55px;
  /*border-bottom: 1px solid #ccc;*/
}
  .header .button {
    float: left;
    width: 40px;
    height: 40px;
    margin: 6px 0 0 10px;
    border: solid 1px #ccc;
    background: #fafafa;
    color: #000;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .header p {
    padding: 0 10px;
    font-size: 18px;
    line-height: 55px;
    text-align: right;
    text-transform: uppercase;
  }
    .header a {
      color: #000;
      text-decoration: none;
    }
    .header a:hover {
      text-decoration: underline;
    }
